<br>
<h1 class="mat-h1">My Ads</h1>
<!-- <h1>{{currentDate | date:'dd/MM/yyyy HH:mm'}}</h1> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<p *ngIf="!($ads | async)">Loading Ads...</p>

<table mat-table [dataSource]="$ads" class="mat-elevation-z8">
  <ng-container matColumnDef="num">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    <!-- Title Column -->  </ng-container>

 
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      
      <td mat-cell *matCellDef="let element"  >
        <ng-container *ngIf="element.type=='ham'; else other">
        <img src="https://firebasestorage.googleapis.com/v0/b/project-aec9c.appspot.com/o/ham.png?alt=media"> 
       
      </ng-container>
      <ng-template #other>
       <img src="https://firebasestorage.googleapis.com/v0/b/project-aec9c.appspot.com/o/spam.jpg?alt=media">
      </ng-template>
      </td>
      
    
    </ng-container>
    <ng-container matColumnDef="type2">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">  
 
        <button mat-icon-button [routerLink]="'/edit/'+element.id">
          <mat-icon >edit</mat-icon>
          <!--  -->
       </button>

       <button mat-icon-button  (click)=deleteAd(element.id) >
        <mat-icon>delete_forever</mat-icon>
      </button>
     <!-- -->
     
    
      
      </td>
    </ng-container>


    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Add photo </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.choose == false; else other2">
          <button mat-icon-button [routerLink]="'/allads/'+element.id"><mat-icon>add_photo_alternate</mat-icon></button>
          </span>
          <ng-template #other2>
            <span style="color:blue; margin-left: 20px;"><mat-icon>done</mat-icon></span>  
         </ng-template>
    
       </td>
    </ng-container>

    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef> Show Ad Content </th>
      <td mat-cell *matCellDef="let element">
        <button  mat-icon-button (click)="openDialog(element.body,element.picid,element.choose)"> 
          <mat-icon>open_in_new</mat-icon>
        </button>
       </td>
    </ng-container>
  

    
    <ng-container matColumnDef="send">
      <th mat-header-cell *matHeaderCellDef>Sent?</th>
      <td mat-cell *matCellDef="let element">
       
        <span *ngIf="element.sent == false; else other1">
          <button  mat-raised-button  (click)="sendAd(element.id)"> Send <mat-icon>send</mat-icon></button>
         </span>
           <ng-template #other1>
              <span style="color: green; margin-left: 5px;">was sent on: {{element.time.toDate()| date:'dd/MM/yyyy HH:mm'}}</span>  
           </ng-template>




      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
  </table>