.example-card {
    max-width: 1000px;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  img {
        height:40px;
        width:40px;
      }