<mat-card class="example-card">
 
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
      <mat-card-title>{{category}}</mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        {{title}}
      </h3>
      <p>
        {{body}}
      </p>
      <h4>Change the result</h4>
      <form #classForm="ngForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
              <mat-select placeholder="new category:" [(ngModel)] = "cn" name = "cn" >
                <mat-option *ngFor = "let ca of cas" [value]="ca.name">{{ca.name}}</mat-option>
              </mat-select>
            </mat-form-field>
                <button style="margin-left: 7px;" mat-raised-button color="primary" >Classify</button>
    
        </form>
  
    </mat-card-content>
    <mat-card-actions>
      <button   mat-raised-button  (click)="onSubmit1()" >Update</button>
      <!-- <button mat-button [routerLink]="'/list'">Save</button> -->
    </mat-card-actions>
  
  </mat-card>
  