.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  button {
      margin-left:10px;
      margin-bottom: 30px;
  }

  .login-main{

    margin-left:350px;
    margin-right: 350px;
    margin-top: 50px;

  }

  
  .error{

    color:red;
  }
  @media screen and (max-width: 800px) {

    .login-main{

      margin-left:100px;
      margin-right: 100px;
      margin-top: 20px;
  
    }
    
  }