<mat-card fxLayoutAlign="center center" class="login-main">
  <h1>Log in</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="email" [(ngModel)] = "email"
                         name = "email"
                         required
                         #temp = "ngModel">
        <mat-error *ngIf="!(temp.valid || temp.pristine)">
          Email is required
        </mat-error>                        
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput placeholder="password" [(ngModel)] = "password"
                           name = "password"
                           type="password"
                           required 
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
              Password is required
          </mat-error>                        
        </mat-form-field>
      
      <div>
          <button mat-raised-button color="primary"
          (click)="tryLogin(loginForm.value)"  
          [disabled]="!loginForm.form.valid">
          Login
        </button>
        <br>
        <label class="error" >{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label> 
      </div>
      <br> 
     
    </div>
  </form>
  <span>Don't have an account?<a routerLink="/signup"><br>Sign Up</a></span>
  </mat-card>
