<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(authService.user | async)?.uid">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Detect</a>
      <a mat-list-item routerLink="/ads" routerLinkActive="active">My Ads</a>
      <a mat-list-item routerLink="/adform" routerLinkActive="active">Check New Ad</a>
      <!-- <a mat-list-item routerLink="/allads" routerLinkActive="active"> Photo Gallery</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <span> Detecting Faces - AWS </span>
      
      <span class = "spacer"></span>
      <a class = "whitelink" 
         *ngIf = "(authService.user | async)?.uid" 
         (click) = "authService.Logout()">Logout</a>         
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
