<mat-card fxLayoutAlign="center center" class="signup-main">
  <h1>Sign up</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="email" [(ngModel)] = "email"
                         name = "email"
                         required
                         #temp = "ngModel">
        <mat-error *ngIf="!(temp.valid || temp.pristine)">
          Email is required
        </mat-error>                        
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput placeholder="password" [(ngModel)] = "password"
                           name = "password"
                           type="password"
                           required 
                           #temp = "ngModel">
          <mat-error *ngIf="!(temp.valid || temp.pristine)">
              Password is required
          </mat-error>                        
        </mat-form-field>
      
      <div>
          <button mat-raised-button color="primary"
          (click)="tryRegister(signupForm.value)" 
          [disabled]="!signupForm.form.valid" >
            Sign Up
        </button>
      </div> 
      <br> 
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </div>
  </form>
  <br>
  <span>Alrady have an Acount?<a routerLink="/login"><br>Login</a></span>
  </mat-card>

