  <mat-card>
    <h1 class="mat-h1">Check new Ad</h1>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field  style="width: 400px;">
            <input 
                matInput placeholder="Enter Ad Title"
                [(ngModel)] = "title"  
                name = "title"
                required
                #temp = "ngModel">
        </mat-form-field> 
        <mat-error *ngIf="!(temp.valid || temp.pristine)">
          Title is required
      </mat-error>                        
        <mat-form-field style="width: 1000px;">
            <textarea
                matInput placeholder="Enter Ad body"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="20"
                required
                #temp = "ngModel">   
            </textarea>  
        </mat-form-field> 
        <mat-error *ngIf="!(temp.valid || temp.pristine)">
          Body is required
      </mat-error>                                         
        <div>
            <button mat-raised-button color="primary" [disabled]="!classifyForm.form.valid">Check the Ad</button>
        </div>
      </div>
    </form>
    </mat-card>
 
 