
<mat-card>
  
  <h1>Hello {{userEmail}},</h1>
  <mat-card>
    <h1 class="mat-h1"> {{title1}}</h1>
  
  <mat-card>
    <mat-card-subtitle>Please upload a picture of your space</mat-card-subtitle>
    <input (change)="onFilePicked($event)" placeholder="Upload File" type="file" />
    <button mat-raised-button color="primary" (click)="onFileUpload()">Upload File</button>

    <p *ngIf="errorMsg"> Please Select A File</p>
</mat-card>
<mat-card *ngIf="num_person !=1000">
  <h1 class="mat-h1" >
    {{num_person}}  {{msg}}        
  </h1>

<!-- <button (click)="getItem('value1','value2')" class="myButton">getItem</button> -->
</mat-card>

<mat-card>
  <form #classifyForm="ngForm" (ngSubmit)="additem()">
    <div class="example-container">
      <mat-form-field  style="width: 400px;">
          <input 
              matInput placeholder="Enter Pic Title"
              [(ngModel)] = "title"  
              name = "title"
              required
              #temp = "ngModel">
      </mat-form-field> 
      <mat-error *ngIf="!(temp.valid || temp.pristine)">
        Title is required
    </mat-error>                        
      
    
    <br>
      <div>
          <button mat-raised-button color="primary" [disabled]="!classifyForm.form.valid">Save</button>
      </div>
    </div>
  </form>
</mat-card>
  <!-- <button (click)="getItems('admin@inc.com')" class="myButton">getItem</button> -->
</mat-card>  
</mat-card>
  <br>
<mat-card>
  <h1 class="mat-h1"  > Your saved detected pics </h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor = "let item of $items">
      <mat-expansion-panel-header *ngIf="item.file_name == userEmail">
        <mat-panel-title>
          {{item.user}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      {{item.comment_p}}, {{item.num_p}} people 
   
    </mat-expansion-panel>
  
  </mat-accordion>
</mat-card>